body {
	background-color: #A2DED0;
}

.jumbotron {
 background-image:url('http://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg'); 
 padding: 18%;
 padding-left: 0px;
 padding-top: 25%;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 margin-top: -40px;
 background-position:  center;
 color: white;
 margin-bottom: 0px;
}

.navbar {
	background: #333333;
	margin: 0px;
	border: 0px;
	color: white;
}

.mission {
	background-color: #333333;
	color: white;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
}

.features {
	margin-top: 40px;
	text-align: center;
	padding-bottom: 40px;
}

.footer {
	background: #FF5050;
	color: white;
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}

.footer ul li {
    display: inline-block;
    list-style: none;
    padding: 2%;
    float: right;
    color: white;
}

.footer p {
	float: left;
	padding: 2%;
	color: white;
	vertical-align: middle;
}

